<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:app.properties"/>

    <!-- бин класса для чтения вопросов из csv-файла -->
    <bean id="questionReaderService" class="ru.otus.tde.service.QuestionReaderCsv">
        <property name="csvFileName" value="${csvFileName}"/>
    </bean>

    <!-- бин класса для вывода списка вопросов на консоль  -->
    <bean id="questionWriterService" class="ru.otus.tde.service.QuestionWriterConsole">
    </bean>

    <!-- бин класса для обработки вопросника -->
    <bean id="questionWorker" class="ru.otus.tde.service.QuestionWorkerSimple">
        <constructor-arg name="questionReader" ref="questionReaderService"/>
        <constructor-arg name="questionWriter" ref="questionWriterService"/>
    </bean>

</beans>
